
.card{
    overflow:hidden;
    width:200px;
    margin-right:20px;
}
.card .header{
    padding-bottom:30px;
}

.graph-gallery{
    width:100%;
    padding:20px;
    border:1px solid #2477a7;
}

.graph-card{
    margin-right:50px;
}

.selected-graphs .ct-label{
    font-size: 11px;
    font-weight: bold;
}

.card .ct-label{
    display:none;
}

.gu-transit{
    display:none;
}
